@import "_nullstyle";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap');

@font-face {
	font-family: "MyriadPro";
	src: url('../FONTS/myriadpro-regular.eot');
	src: local('☺'), url('../FONTS/myriadpro-regular.woff') 
	format('woff'), url('../FONTS/myriadpro-regular.ttf') 
	format('truetype'), url('../FONTS/myriadpro-regular.svg') 
	format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "ProximaNova";
	src: url('../FONTS/Mark Simonson - Proxima Nova Condensed Regular.eot');
	src: local('☺'), url('../FONTS/Mark Simonson - Proxima Nova Condensed Regular.woff') 
	format('woff'), url('../FONTS/Mark Simonson - Proxima Nova Condensed Regular.ttf') 
	format('truetype'), url('../FONTS/Mark Simonson - Proxima Nova Condensed Regular.svg') 
	format('svg');
	font-weight: normal;
	font-style: normal;
}

%popup_p {
	color: #ffffff;
	font-family: 'Roboto';
	font-size: 14px;
	font-weight: 400;
	font-style: normal;
	letter-spacing: normal;
	line-height: 40px;
	text-align: left;
}

%span_option {
	color: #3d3d3d;
	font-family: 'Roboto';
	font-size: 10px;
	font-weight: 400;
	font-style: normal;
	letter-spacing: normal;
	line-height: 20px;
	text-align: left;
	text-transform: uppercase;
}

.header-fixed {
	
	.header-top {
		width: 100%;
		background-color: #696969;
		width: 100%;
		height: 50px;
		.header-top__border {
		width: 1359px;
		margin: 0 auto;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		.header-top__menu {
			width: 455px;
			display: flex;
			justify-content: space-between;
			a {
				display: flex;
				align-items: center;
				height: 50px;
				color: #c3c3c3;
				font-family: 'Roboto';
				font-size: 12px;
				font-weight: 400;
				font-style: normal;
				letter-spacing: normal;
				line-height: 20px;
				text-align: left;
				text-transform: uppercase;
				transition-duration: 0.3s;
			}
			a:hover {
				border-bottom: 2px solid  #ffc925;
				color: #fff;
			}
			a:nth-child(2) {
				border-bottom: 2px solid  #ffc925;
				color: #fff;
			}
		}
		.header-top__signup {
			.signup {
				width: 124px;
				height: 50px;
				background-color: #ff8900;
				display: flex;
				justify-content: center;
				align-items: center;
				transition-duration: 0.2s;
				span {
					padding-left: 11px;
					color: #ffffff;
					font-family: 'MyriadPro';
					font-size: 12px;
					font-weight: 400;
					font-style: normal;
					letter-spacing: normal;
					line-height: 20px;
					text-align: left;
					text-transform: uppercase;
				}
			}
			.signup:hover {
				background-color: #d37000;
			}
		}
	}
	}
}

.wraper {
	width: 1362px;
	margin: 0 auto;
	.header {
		width: 1359px;
		height: 143px;
	

	&-bottom {
		display: flex;
		width: 1359px;
		margin: 0 auto;
		margin-top: 40px;
		justify-content: start;
		.header-bottom__logo {
			margin-right: 149px;
		}
		.header-bottom__phone {
			margin-top: -4px;
			margin-right: 107px;
			min-width: 575px;
			height: 49px;
			display: flex;
			background-color: #f5f5f5;
			justify-content: space-between;
			align-items: center;
			p {
				margin-left: 12px;
				color: #151515;
				font-family: 'Roboto';
				font-size: 16px;
				font-weight: 700;
				font-style: italic;
				letter-spacing: normal;
				line-height: 20px;
				text-align: left;
			}
			p:nth-child(2n) {
				margin-left: -5px;
			}
			.phone {
				width: 197px;
				height: 49px;
				display: flex;
				justify-content: center;
				align-items: center;
				background-color: #ff8900;
				transition-duration: 0.2s;
				span {
					margin-left: -1px;
					margin-bottom: 2px;
					color: #ffffff;
					font-family: "MyriadPro";
					font-size: 12px;
					font-weight: 400;
					font-style: normal;
					letter-spacing: normal;
					line-height: 20px;
					text-align: left;
					text-transform: uppercase;
				}
				img {
					margin-right: 7px;
					margin-left: -12px;
				}
			}
			.phone:hover {
				background-color: #d37000;
			}
		}

		.header-bottom__option {
			width: 284px;
			height: 64px;
			display: flex;
			
			button {
				background-color: #fff;
				height: 64px;
				flex-direction: column;
			}
			.compare {
				border-right: 1px solid #e4e4e4;
				span {
					@extend %span_option
				}
			}
			.favorites {
				border-right: 1px solid #e4e4e4;
				span {
					@extend %span_option
				}
			}
			.basket {
				position: relative;
				span {
					@extend %span_option
				}
				.basket-massege {
					position: absolute;
						top: -30px;
						left: 40px;
					.basket-massege__field {
						background: #ff8500;
						width: 20px;
						height: 15px;
						display: flex;
						align-items: center;
						justify-content: center;
						box-shadow: 0 5px 8px rgba(247, 129, 0, 0.7);
						span {
							color: #ffffff;
							font-family: 'Roboto';
							font-size: 11px;
							font-weight: 400;
							font-style: normal;
							letter-spacing: normal;
							line-height: 20px;
							text-align: center;
							text-transform: uppercase;
						}
					}
				}
				.basket-massege__triagle {
					box-shadow: 0 5px 8px rgba(247, 129, 0, 0.7);
					box-shadow: inset 0 5px 8px rgba(247, 129, 0, 0.7);
					margin: 0 auto;
					width: 0; 
					height: 0;
					border-left: 5px solid transparent;
					border-right: 5px solid transparent;
					border-top: 7px solid #ff8500;
				}
			}
		}
	}
}

	.main-menu {
		margin-left: -2px;
		margin-top: 22px;
		height: 450px;
		display: flex;
		.sidebar {
			width: 326px;
			height: 450px;
			.sidebar-top {
				width: 326px;
				height: 56px;
				display: flex;
				align-items: center;
				background: linear-gradient(to right, rgba(255, 132, 0, 1), rgba(255, 177, 10, 1));
				.sidebar-top__topic {
					p {
						margin-left: 23px;
						color: #ffffff;
						font-family: Roboto;
						font-size: 20px;
						font-weight: 700;
						font-style: normal;
						letter-spacing: normal;
						line-height: 20px;
						text-align: left;
					}
				}
				.sidebar-top__burger {
					background-color: #db7200;
					width: 62px;
					height: 56px;
					display: flex;
					justify-content: center;
					align-items: center;
				}
			}
			
			.sidebar-bottom {
				display: flex;
				flex-direction: column;
				height: 398px;
				li {
					border-bottom: 1px solid #e8e8e8;
					transition-duration: 0.2s;
				}
				li:last-child {
					border: none;
				}
				a {
					padding-top: 3px;
					display: flex;
					justify-content: space-between;
					margin-left: 41px;
					color: #3b3b3b;
					font-family: Roboto;
					font-size: 16px;
					font-weight: 700;
					font-style: normal;
					letter-spacing: normal;
					line-height: 54px;
					text-align: left;
					text-transform: uppercase;
					span {
					width: 8px;
					height: 14px;
					color: #c0c4d8;
					margin-right: 34px;
					}
				}
				li:hover {
					background-color: #e4e4e4;
				}
			}
		}
		.search {
			margin-left: 20px;
			.search-panel {
				background-color: #f5f5f5;
				display: flex;
				height: 56px;
				align-items: center;
				form {
					background-color: #f5f5f5;
					input {
					border-right: 1px solid #dadada;
					background-color: #f5f5f5;
					width: 673px;
					height: 37px;
					align-items: center;
					justify-content: center;
					margin-left: 28px;
					}
					input:focus {
						box-shadow: 0 0 #a0a0a0;
					}
				}
				.search-panel__all-category {
					display: flex;
					padding-left: 14px;
					width: 121px;
					height: 37px;
					button {
						background-color: #f5f5f5;
						color: #616161;
						font-family: Roboto;
						font-size: 14px;
						font-weight: 400;
						font-style: normal;
						letter-spacing: normal;
						line-height: 40px;
						text-align: left;
						span {
							color: #8c8c8c;
							font-size: 10px;
						}
					}
				}
				.search-button {
					margin-left: 28px;
					button {
						width: 166px;
						height: 56px;
						background-color: #ff8900;
						display: flex;
						justify-content: center;
						align-items: center;
						span {
							color: #ffffff;
							font-family: Roboto;
							font-size: 16px;
							font-weight: 700;
							font-style: normal;
							letter-spacing: normal;
							line-height: 40px;
							text-align: left;
							text-transform: uppercase;
						}
					}
				}
			}
			.filter {
				margin-top: 20px;
				.filter-panel {
					display: flex;
					width: 100%;
					height: 74px;
					.filter-panel__tab {
						background-color: #606a76;
						display: flex;
						width: 100%;
						justify-content: space-around;
						align-items: center;
						.panel-tab {
							display: flex;
							align-items: center;
							justify-content: center;
							width: 183px;
							height: 100%;
							filter: grayscale(100);
							.tab-01 {
								width: 40px;
								height: 17px;
							}
							.tab-02 {
								width: 46px;
								height: 32px;
							}
							.tab-03 {
								width: 25px;
								height: 25px;
							}
							.tab-04 {
								width: 22px;
								height: 29px;
							}
							.tab-05 {
								width: 26px;
								height: 24px;
							}
							p {
								margin-left: 15px;
								opacity: 0.4;
								color: #ffffff;
								font-family: Roboto;
								font-size: 18px;
								font-weight: 700;
								font-style: normal;
								letter-spacing: normal;
								line-height: 40px;
								text-align: left;
							}
						}
						#tab_01,.active {
							border-bottom: 1px solid #ffc925;
							filter: grayscale(0);
						}
					}

				}
				.filter-content {
					width: 100%;
					height: 300px;
					background-color: #696969;
					padding-left: 36px;
					padding-top: 24px;
					padding-right: 36px;
					padding-bottom: 24px;
					.filter-content__tab {
						width: 281px;
						height: 44px;
						background-color: #efefef;
						display: flex;
						justify-content: center;
						align-items: center;
						margin-bottom: 23px;

						.content-tab {
							align-items: center;
							justify-content: center;
							width: 135px;
							height: 38px;
							p {
								color: #696969;
								font-family: Roboto;
								font-size: 14px;
								font-weight: 400;
								font-style: normal;
								letter-spacing: normal;
								line-height: 40px;
								text-align: center;
							}
						}
						.active__content-tab {
							background-color: #ff8500;
							p {
								color: #fff;
							}
						}
					}
					.filter-content__tab-body {
						width: 948px;
						height: 108px;
						display: flex;
						flex-wrap: wrap;
						.filter-content__tab-block{
							
							.filter-content__selected {
								display: flex;
								justify-content: center;
								margin: 0 auto;
								flex-wrap: wrap;
								button {
									/*outline: 1px solid #ffc925;
									outline-offset: 1px;*/
									margin-bottom: 26px;
									margin-right: 20px;
									width: 222px;
									height: 40px;
									display: flex;
									justify-content: space-between;
									align-items: center;
									padding: 0 10px;
										color: #9c9c9c;
										font-family: Roboto;
										font-size: 14px;
										font-weight: 400;
										font-style: normal;
										letter-spacing: normal;
										line-height: 40px;
										text-align: left;
										span {
											color: #ff8900;
											font-size: 8px;
										}
								}
								button:nth-child(4) {
									margin-right: 0;
								}
								form {
									.selected-price {
										
										p {
											color: #ffffff;
											font-family: "ProximaNova";
											font-size: 14px;
											font-weight: 400;
											font-style: normal;
											letter-spacing: normal;
											line-height: 40px;
											text-align: center;
										}
									}
								
									justify-content: space-between;
									display: flex;
									width: 222px;
									height: 42px;
									input {
										width: 74px;
										text-align: center;
									}
									input:focus {
										border-bottom: 1px solid #ffc925;
									}
								}
							}
							.filter-bottom {
								display: flex;
								justify-content: space-between;
								align-items: end;

								.clear {
									width: 210px;
									height: 50px;
									background-color: #ff4800;
									color: #ffffff;
									font-family: Roboto;
									font-size: 14px;
									font-weight: 400;
									font-style: normal;
									letter-spacing: normal;
									line-height: 40px;
									text-align: center;
								}
								.apply {
									width: 210px;
									height: 50px;
									background: linear-gradient(to right, #ff8500 0%, #ffae00 100%);
									color: #ffffff;
									font-family: Roboto;
									font-size: 14px;
									font-weight: 700;
									font-style: normal;
									letter-spacing: normal;
									line-height: 40px;
									text-align: center;
									text-transform: uppercase;
								}
							}
						}
						.filter-content__tab-block:nth-child(2) {
							display: none;
						}
					}
				}
			}
		}	
	}
	.goods {
		margin-top: 38px;
		margin-bottom: 61px;
		.goods-top {
			display: flex;
			justify-content: space-between;
			height: 47px;
			.goods-top__topic{
				border-bottom: 1px solid #ff8500;
				p{
					color: #3b3b3b;
					font-family: 'Roboto';
					font-size: 36px;
					font-weight: 400;
					font-style: normal;
					letter-spacing: normal;
					line-height: 40px;
					text-align: left;
				}
			}
			.goods-top__link {
				a {
					color: #000000;
					font-family: 'Roboto';
					font-size: 14px;
					font-weight: 400;
					font-style: normal;
					letter-spacing: normal;
					line-height: 40px;
					text-align: left;
					text-decoration: underline;
					span {
						color: #ff8500;
						padding-left: 10px;
					}
				}
			}
			.goods-top__link:hover {
				text-decoration: none;
			}
		}
		.goods-flex {
			display: flex;
		}
		.goods-body__first {
			width: 25%;
			height: 573px;
			border: 1px solid #dbdbdb;
			border-left: none;
			.goods-body__border {
				margin: 20px 8px 17px 11px;
				.goods-body__mark {
					width: 79px;
					height: 22px;
					display: flex;
					justify-content: center;
					align-items: center;
					background-color: #f2f2f2;
					margin-bottom: 15px;
					p {
						color: #848484;
						font-family: 'Roboto';
						font-size: 14px;
						font-weight: 300;
						font-style: normal;
						letter-spacing: normal;
						line-height: 40px;
						text-align: left;
					}
				}
				.goods-body__name {
					margin-bottom: 7px;
					a {
						color: #3b3b3b;
						font-family: "Roboto";
						font-size: 17px;
						font-weight: 400;
						font-style: normal;
						letter-spacing: normal;
						line-height: 26px;
						text-align: left;
						text-decoration: underline;
					}
					a:hover {
						text-decoration: none;
					}
				}
				.goods-body__info {
					display: flex;
					justify-content: space-between;
					margin-bottom: 15px;
					.goods-body__review {
						display: flex;
						align-items: center;

						.star {
							margin-top: -10px;
							color: #ff8600;;
							margin-right: 5px;
							width: 95px;
							height: 14px;
							font-size: 22px;
						}
						.review-text {
							color: #9b9b9b;
							font-family: 'Roboto';
							font-size: 13px;
							font-weight: 400;
							font-style: normal;
							letter-spacing: normal;
							line-height: 26px;
							text-align: left;
							text-decoration: underline;
						}
					}
					.goods-body__presence {
						color: #757575;
						font-family: 'Roboto';
						font-size: 12px;
						font-weight: 400;
						font-style: normal;
						letter-spacing: normal;
						line-height: 26px;
						text-align: left;
					}
				}
				.goods-body__image {
					.goods-body__image-content {
						display: flex;
						.image-content__category {
							display: flex;
							flex-direction: column;
							width: 53px;
							img {
								width: 38px;
								height: 38px;
							}
							img:nth-child(2) {
								width: 53px;
								height: 26px;
							}
							p {
								color: #91959a;
								font-family: 'Roboto';
								font-size: 10px;
								font-weight: 400;
								font-style: normal;
								letter-spacing: normal;
								line-height: 20px;
								text-align: left;
								text-transform: uppercase;
							}
						}
						.image-content__general {
							margin: 0 auto;
							width: 157px;
							height: 205px;
						}
					}
					.goods-body__image-footer {
						margin-bottom: 21px;
						display: flex;
						justify-content: center;
						.image-footer__border {
							display: flex;
							justify-content: space-between;
							width: 242px;
							.green-tag {
								width: 74px;
								height: 26px;
								background: url('/Image/green-tag.svg') no-repeat;
								box-shadow: 0 5px 12px rgba(46, 182, 142, 0.5);
							}
							.purple-tag {
								width: 74px;
								height: 26px;
								background: url('/Image/purple-tag.svg') no-repeat;
								box-shadow: 0 5px 12px rgba(98, 28, 148, 0.5);
							}
							.red-tag {
								width: 74px;
								height: 26px;
								background: url('/Image/red-tag.svg') no-repeat;
								box-shadow: 0 5px 12px rgba(189, 17, 41, 0.5);
							}
							p {
								color: #ffffff;
								font-family: 'Roboto';
								font-size: 10px;
								font-weight: 700;
								font-style: normal;
								letter-spacing: normal;
								line-height: 26px;
								text-align: center;
								text-transform: uppercase;
							}
						}
					}
				}
				.goods-body__price {
					display: flex;
					justify-content: space-between;
					margin-bottom: 26px;
					.active-price {
						color: #3b3b3b;
						font-family: "Roboto - Black Italic";
						font-size: 18px;
						font-weight: 900;
						font-style: normal;
						letter-spacing: normal;
						line-height: 26px;
						text-align: left;
						text-transform: uppercase;
						span {
							font-style: normal;
							font-weight: normal;
							font-size: 10px;
						}
					}
					.passive-price {
						color: #989898;
						font-family: "Roboto - Black Italic";
						font-size: 16px;
						font-weight: 400;
						font-style: Italic;
						letter-spacing: normal;
						line-height: 26px;
						text-align: left;
						text-transform: uppercase;
						text-decoration: line-through #e00000;
					}
				}
				.goods-body__buy {
					display: flex;
					justify-content: center;
					margin-bottom: 15px;
					button {
						display: flex;
						align-items: center;
						justify-content: center;
						width: 210px;
						height: 50px;
						background-image: linear-gradient(to right, #ff8500 0%, #ffae00 100%);
						img {
							width: 28px;
							height: 24px;
							margin-right: 15px;
						}
						span {
							color: #ffffff;
							font-family: 'Roboto';
							font-size: 14px;
							font-weight: 700;
							font-style: normal;
							letter-spacing: normal;
							line-height: 40px;
							text-align: left;
							text-transform: uppercase;
						}
					}
					button:hover {
						transition-duration: 0.5s;
						background: linear-gradient(to right, #d36e00 0%, #e59100 100%);
					}
				}
				.goods-body__footer {
					display: flex;
					justify-content: space-between;
					button {
						display: flex;
						background-color: #fff;
						align-items: center;
						img {
							width: 34px;
							height: 29px;
							margin-right: 15px;
						}
						span {
							color: #3b3b3b;
							font-family: 'Roboto';
							font-size: 14px;
							font-weight: 400;
							font-style: normal;
							letter-spacing: normal;
							line-height: 26px;
							text-align: left;
							text-decoration: underline;
						}
					}
					span:hover {
						text-decoration: none;
					}
				}
			}
		}
		.goods-body__second {
			width: 25%;
			height: 573px;
			border: 1px solid #dbdbdb;
			border-left: none;
			.goods-body__border {
				margin: 20px 8px 17px 11px;
				.goods-body__mark {
					width: 79px;
					height: 22px;
					display: flex;
					justify-content: center;
					align-items: center;
					background-color: #f2f2f2;
					margin-bottom: 15px;
					p {
						color: #848484;
						font-family: Roboto;
						font-size: 14px;
						font-weight: 300;
						font-style: normal;
						letter-spacing: normal;
						line-height: 40px;
						text-align: left;
					}
				}
				.goods-body__name {
					margin-bottom: 7px;
					a {
						color: #3b3b3b;
						font-family: 'Roboto';
						font-size: 17px;
						font-weight: 400;
						font-style: normal;
						letter-spacing: normal;
						line-height: 26px;
						text-align: left;
						text-decoration: underline;
					}
					a:hover {
						text-decoration: none;
					}
				}
				.goods-body__info {
					display: flex;
					justify-content: space-between;
					margin-bottom: 15px;
					.goods-body__review {
						display: flex;
						align-items: center;

						.star {
							margin-top: -10px;
							color: #ff8600;;
							margin-right: 5px;
							width: 95px;
							height: 14px;
							font-size: 22px;
							span {
							color: #a4a4a4;
							}
						}
						.review-text {
							color: #9b9b9b;
							font-family: 'Roboto';
							font-size: 13px;
							font-weight: 400;
							font-style: normal;
							letter-spacing: normal;
							line-height: 26px;
							text-align: left;
							text-decoration: underline;
						}
					}
					.goods-body__presence {
						color: #757575;
						font-family: 'Roboto';
						font-size: 12px;
						font-weight: 400;
						font-style: normal;
						letter-spacing: normal;
						line-height: 26px;
						text-align: left;
					}
				}
				.goods-body__image {
					.goods-body__image-content {
						display: flex;
						.image-content__category {
							display: flex;
							flex-direction: column;
							width: 53px;
							img {
								width: 38px;
								height: 38px;
							}
							img:nth-child(2) {
								width: 53px;
								height: 26px;
							}
							p {
								color: #91959a;
								font-family: 'Roboto';
								font-size: 10px;
								font-weight: 400;
								font-style: normal;
								letter-spacing: normal;
								line-height: 20px;
								text-align: left;
								text-transform: uppercase;
							}
						}
						.image-content__general {
							display: flex;
							margin: 0 auto;
							justify-content: center;
							align-items: center;
							width: 157px;
							height: 205px;
						}
					}
					.goods-body__image-footer {
						margin-bottom: 21px;
						display: flex;
						justify-content: center;
						.image-footer__border {
							display: flex;
							justify-content: center;
							width: 242px;
							.green-tag {
								margin-right: 10px;
								width: 74px;
								height: 26px;
								background: url('/Image/green-tag.svg') no-repeat;
								box-shadow: 0 5px 12px rgba(46, 182, 142, 0.5);
							}
							.purple-tag {
								width: 74px;
								height: 26px;
								background: url('/Image/purple-tag.svg') no-repeat;
								box-shadow: 0 5px 12px rgba(98, 28, 148, 0.5);
							}
							.red-tag {
								width: 74px;
								height: 26px;
								background: url('/Image/red-tag.svg') no-repeat;
								box-shadow: 0 5px 12px rgba(189, 17, 41, 0.5);
							}
							p {
								color: #ffffff;
								font-family: 'Roboto';
								font-size: 10px;
								font-weight: 700;
								font-style: normal;
								letter-spacing: normal;
								line-height: 26px;
								text-align: center;
								text-transform: uppercase;
							}
						}
					}
				}
				.goods-body__price {
					display: flex;
					justify-content: space-between;
					margin-bottom: 26px;
					.active-price {
						color: #3b3b3b;
						font-family: "Roboto - Black Italic";
						font-size: 18px;
						font-weight: 900;
						font-style: normal;
						letter-spacing: normal;
						line-height: 26px;
						text-align: left;
						text-transform: uppercase;
						span {
							font-style: normal;
							font-weight: normal;
							font-size: 10px;
						}
					}
					.passive-price {
						color: #989898;
						font-family: "Roboto - Black Italic";
						font-size: 16px;
						font-weight: 400;
						font-style: Italic;
						letter-spacing: normal;
						line-height: 26px;
						text-align: left;
						text-transform: uppercase;
						text-decoration: line-through #e00000;
					}
				}
				.goods-body__buy {
					display: flex;
					justify-content: center;
					margin-bottom: 15px;
					button {
						display: flex;
						align-items: center;
						justify-content: center;
						width: 210px;
						height: 50px;
						background-image: linear-gradient(to right, #ff8500 0%, #ffae00 100%);
						img {
							width: 28px;
							height: 24px;
							margin-right: 15px;
						}
						span {
							color: #ffffff;
							font-family: 'Roboto';
							font-size: 14px;
							font-weight: 700;
							font-style: normal;
							letter-spacing: normal;
							line-height: 40px;
							text-align: left;
							text-transform: uppercase;
						}
					}
					button:hover {
						transition-duration: 0.5s;
						background: linear-gradient(to right, #d36e00 0%, #e59100 100%);
					}
				}
				.goods-body__footer {
					display: flex;
					justify-content: space-between;
					button {
						display: flex;
						background-color: #fff;
						align-items: center;
						img {
							width: 34px;
							height: 29px;
							margin-right: 15px;
						}
						span {
							color: #3b3b3b;
							font-family: 'Roboto';
							font-size: 14px;
							font-weight: 400;
							font-style: normal;
							letter-spacing: normal;
							line-height: 26px;
							text-align: left;
							text-decoration: underline;
						}
					}
					span:hover {
						text-decoration: none;
					}
				}
			}
		}
		.goods-body__third {
			width: 25%;
			height: 573px;
			border: 1px solid #dbdbdb;
			border-left: none;
			.goods-body__border {
				margin: 20px 8px 17px 11px;
				.goods-body__mark {
					width: 79px;
					height: 22px;
					display: flex;
					justify-content: center;
					align-items: center;
					background-color: #f2f2f2;
					margin-bottom: 15px;
					p {
						color: #848484;
						font-family: 'Roboto';
						font-size: 14px;
						font-weight: 300;
						font-style: normal;
						letter-spacing: normal;
						line-height: 40px;
						text-align: left;
					}
				}
				.goods-body__name {
					margin-bottom: 7px;
					a {
						color: #3b3b3b;
						font-family: 'Roboto';
						font-size: 17px;
						font-weight: 400;
						font-style: normal;
						letter-spacing: normal;
						line-height: 26px;
						text-align: left;
						text-decoration: underline;
					}
					a:hover {
						text-decoration: none;
					}
				}
				.goods-body__info {
					display: flex;
					justify-content: space-between;
					margin-bottom: 15px;
					.goods-body__review {
						display: flex;
						align-items: center;

						.star {
							margin-top: -10px;
							color: #a4a4a4;
							margin-right: 5px;
							width: 95px;
							height: 14px;
							font-size: 22px;
						}
						.review-text {
							color: #9b9b9b;
							font-family: 'Roboto';
							font-size: 13px;
							font-weight: 400;
							font-style: normal;
							letter-spacing: normal;
							line-height: 26px;
							text-align: left;
							text-decoration: underline;
						}
					}
					.goods-body__presence {
						color: #757575;
						font-family: 'Roboto';
						font-size: 12px;
						font-weight: 400;
						font-style: normal;
						letter-spacing: normal;
						line-height: 26px;
						text-align: left;
					}
				}
				.goods-body__image {
					.goods-body__image-content {
						display: flex;
						.image-content__category {
							display: flex;
							flex-direction: column;
							width: 53px;
							img {
								width: 38px;
								height: 38px;
							}
							img:nth-child(2) {
								width: 53px;
								height: 26px;
							}
							p {
								color: #91959a;
								font-family: 'Roboto';
								font-size: 10px;
								font-weight: 400;
								font-style: normal;
								letter-spacing: normal;
								line-height: 20px;
								text-align: left;
								text-transform: uppercase;
							}
						}
						.image-content__general {
							display: flex;
							justify-content: center;
							align-items: center;
							margin: 0 auto;
							width: 157px;
							height: 205px;
						}
					}
					.goods-body__image-footer {
						margin-bottom: 21px;
						display: flex;
						justify-content: center;
						.image-footer__border {
							display: flex;
							justify-content: center;
							width: 242px;
							.green-tag {
								width: 74px;
								height: 26px;
								background: url('/Image/green-tag.svg') no-repeat;
								box-shadow: 0 5px 12px rgba(46, 182, 142, 0.5);
							}
							.purple-tag {
								width: 74px;
								height: 26px;
								background: url('/Image/purple-tag.svg') no-repeat;
								box-shadow: 0 5px 12px rgba(98, 28, 148, 0.5);
							}
							.red-tag {
								width: 74px;
								height: 26px;
								background: url('/Image/red-tag.svg') no-repeat;
								box-shadow: 0 5px 12px rgba(189, 17, 41, 0.5);
							}
							p {
								color: #ffffff;
								font-family: 'Roboto';
								font-size: 10px;
								font-weight: 700;
								font-style: normal;
								letter-spacing: normal;
								line-height: 26px;
								text-align: center;
								text-transform: uppercase;
							}
						}
					}
				}
				.goods-body__price {
					display: flex;
					justify-content: space-between;
					margin-bottom: 26px;
					.active-price {
						color: #3b3b3b;
						font-family: "Roboto - Black Italic";
						font-size: 18px;
						font-weight: 900;
						font-style: normal;
						letter-spacing: normal;
						line-height: 26px;
						text-align: left;
						text-transform: uppercase;
						span {
							font-style: normal;
							font-weight: normal;
							font-size: 10px;
						}
					}
					.passive-price {
						color: #989898;
						font-family: "Roboto - Black Italic";
						font-size: 16px;
						font-weight: 400;
						font-style: Italic;
						letter-spacing: normal;
						line-height: 26px;
						text-align: left;
						text-transform: uppercase;
						text-decoration: line-through #e00000;
					}
				}
				.goods-body__buy {
					display: flex;
					justify-content: center;
					margin-bottom: 15px;
					button {
						display: flex;
						align-items: center;
						justify-content: center;
						width: 210px;
						height: 50px;
						background-image: linear-gradient(to right, #ff8500 0%, #ffae00 100%);
						img {
							width: 28px;
							height: 24px;
							margin-right: 15px;
						}
						span {
							color: #ffffff;
							font-family: 'Roboto';
							font-size: 14px;
							font-weight: 700;
							font-style: normal;
							letter-spacing: normal;
							line-height: 40px;
							text-align: left;
							text-transform: uppercase;
						}
					}
					button:hover {
						transition-duration: 0.5s;
						background: linear-gradient(to right, #d36e00 0%, #e59100 100%);
					}
				}
				.goods-body__footer {
					display: flex;
					justify-content: space-between;
					button {
						display: flex;
						background-color: #fff;
						align-items: center;
						img {
							width: 34px;
							height: 29px;
							margin-right: 15px;
						}
						span {
							color: #3b3b3b;
							font-family: 'Roboto';
							font-size: 14px;
							font-weight: 400;
							font-style: normal;
							letter-spacing: normal;
							line-height: 26px;
							text-align: left;
							text-decoration: underline;
						}
					}
					span:hover {
						text-decoration: none;
					}
				}
			}
		}
		.goods-body__fourth {
			width: 25%;
			height: 573px;
			border: 1px solid #dbdbdb;
			border-right: none;
			.goods-body__border {
				margin: 20px 8px 17px 11px;
				.goods-body__mark {
					width: 79px;
					height: 22px;
					display: flex;
					justify-content: center;
					align-items: center;
					background-color: #f2f2f2;
					margin-bottom: 15px;
					p {
						color: #848484;
						font-family: 'Roboto';
						font-size: 14px;
						font-weight: 300;
						font-style: normal;
						letter-spacing: normal;
						line-height: 40px;
						text-align: left;
					}
				}
				.goods-body__name {
					margin-bottom: 7px;
					height: 53px;
					a {
						color: #3b3b3b;
						font-family: 'Roboto';
						font-size: 17px;
						font-weight: 400;
						font-style: normal;
						letter-spacing: normal;
						line-height: 26px;
						text-align: left;
						text-decoration: underline;
					}
					a:hover {
						text-decoration: none;
					}
				}
				.goods-body__info {
					display: flex;
					justify-content: space-between;
					margin-bottom: 15px;
					.goods-body__review {
						display: flex;
						align-items: center;

						.star {
							margin-top: -10px;
							color: #ff8600;;
							margin-right: 5px;
							width: 95px;
							height: 14px;
							font-size: 22px;
						}
						.review-text {
							color: #9b9b9b;
							font-family: 'Roboto';
							font-size: 13px;
							font-weight: 400;
							font-style: normal;
							letter-spacing: normal;
							line-height: 26px;
							text-align: left;
							text-decoration: underline;
						}
					}
					.goods-body__presence {
						color: #757575;
						font-family: 'Roboto';
						font-size: 12px;
						font-weight: 400;
						font-style: normal;
						letter-spacing: normal;
						line-height: 26px;
						text-align: left;
					}
				}
				.goods-body__image {
					.goods-body__image-content {
						display: flex;
						.image-content__category {
							display: flex;
							flex-direction: column;
							width: 53px;
							img {
								width: 38px;
								height: 38px;
							}
							img:nth-child(2) {
								width: 53px;
								height: 26px;
							}
							p {
								color: #91959a;
								font-family: 'Roboto';
								font-size: 10px;
								font-weight: 400;
								font-style: normal;
								letter-spacing: normal;
								line-height: 20px;
								text-align: left;
								text-transform: uppercase;
							}
						}
						.image-content__general {
							display: flex;
							justify-content: center;
							align-items: center;
							margin: 0 auto;
							width: 157px;
							height: 205px;
						}
					}
					.goods-body__image-footer {
						margin-bottom: 21px;
						display: flex;
						justify-content: center;
						.image-footer__border {
							display: flex;
							justify-content: space-between;
							width: 242px;
							height: 25px;
							.green-tag {
								display: none;
								width: 74px;
								height: 26px;
								background: url('/Image/green-tag.svg') no-repeat;
								box-shadow: 0 5px 12px rgba(46, 182, 142, 0.5);
							}
							.purple-tag {
								display: none;
								width: 74px;
								height: 26px;
								background: url('/Image/purple-tag.svg') no-repeat;
								box-shadow: 0 5px 12px rgba(98, 28, 148, 0.5);
							}
							.red-tag {
								display: none;
								width: 74px;
								height: 26px;
								background: url('/Image/red-tag.svg') no-repeat;
								box-shadow: 0 5px 12px rgba(189, 17, 41, 0.5);
							}
							p {
								color: #ffffff;
								font-family: 'Roboto';
								font-size: 10px;
								font-weight: 700;
								font-style: normal;
								letter-spacing: normal;
								line-height: 26px;
								text-align: center;
								text-transform: uppercase;
							}
						}
					}
				}
				.goods-body__price {
					display: flex;
					justify-content: space-between;
					margin-bottom: 26px;
					.active-price {
						color: #3b3b3b;
						font-family: "Roboto - Black Italic";
						font-size: 18px;
						font-weight: 900;
						font-style: normal;
						letter-spacing: normal;
						line-height: 26px;
						text-align: left;
						text-transform: uppercase;
						span {
							font-style: normal;
							font-weight: normal;
							font-size: 10px;
						}
					}
					.passive-price {
						color: #989898;
						font-family: "Roboto - Black Italic";
						font-size: 16px;
						font-weight: 400;
						font-style: Italic;
						letter-spacing: normal;
						line-height: 26px;
						text-align: left;
						text-transform: uppercase;
						text-decoration: line-through #e00000;
					}
				}
				.goods-body__buy {
					display: flex;
					justify-content: center;
					margin-bottom: 15px;
					button {
						transition: 0.8s;
						display: flex;
						align-items: center;
						justify-content: center;
						width: 210px;
						height: 50px;
						background: linear-gradient(to right, #ff8500 0%, #ffae00 100%);
						img {
							width: 28px;
							height: 24px;
							margin-right: 15px;
						}
						span {
							color: #ffffff;
							font-family: 'Roboto';
							font-size: 14px;
							font-weight: 700;
							font-style: normal;
							letter-spacing: normal;
							line-height: 40px;
							text-align: left;
							text-transform: uppercase;
						}
					}
					button:hover {
						transition-duration: 0.5s;
						background: linear-gradient(to right, #d36e00 0%, #e59100 100%);
					}
				}
				.goods-body__footer {
					display: flex;
					justify-content: space-between;
					button {
						display: flex;
						background-color: #fff;
						align-items: center;
						img {
							width: 34px;
							height: 29px;
							margin-right: 15px;
						}
						span {
							color: #3b3b3b;
							font-family: 'Roboto';
							font-size: 14px;
							font-weight: 400;
							font-style: normal;
							letter-spacing: normal;
							line-height: 26px;
							text-align: left;
							text-decoration: underline;
						}
					}
					span:hover {
						text-decoration: none;
					}
				}
			}
		}
	}

	.footer {
		position: absolute;
		z-index: 10;
		.footer-border {
			margin-top: 37px;
			.footer-content {
				display: flex;
				margin-bottom: 36px;
				.footer-content__newsletter {
					margin-right: 115px;
					.newsletter-topic {
						width: 63px;
						p {
							color: #cbcbcb;
							font-family: 'Roboto';
							font-size: 20px;
							font-weight: 500;
							font-style: normal;
							letter-spacing: normal;
							line-height: 36px;
							text-align: left;
							border-bottom: 1px solid #ff8500;
						}
					}
					.newsletter-form {
						width: 577px;
						height: 151px;
						border-top: 1px solid rgba(219, 219, 219, 0.15);
						display: flex;
						flex-direction: column;
						justify-content: center;
						.newsletter-form__text {
							
							.title {
								color: #cbcbcb;
								font-family: 'Roboto';
								font-size: 20px;
								font-weight: 700;
								font-style: normal;
								letter-spacing: normal;
								text-align: left;
								text-transform: uppercase;
								margin-bottom: 5px;
							}
							.subtitle {
								color: #ffffff;
								font-family: "Roboto";
								font-size: 26px;
								font-weight: 900;
								font-style: normal;
								letter-spacing: normal;
								text-align: left;
								text-transform: uppercase;
								margin-bottom: 14px;
							}
						}
						form {
							width: 100%;
							height: 50px;
							display: flex;
							input {
								width: 70%;
								height: 50px;
								background-color: #f5f5f5;
								padding-left: 30px;
							}
							button {
								width: 30%;
								height: 50px;
								background-color: #ff8900;
								color: #ffffff;
								font-family: 'Roboto';
								font-size: 16px;
								font-weight: 700;
								font-style: normal;
								letter-spacing: normal;
								line-height: 40px;
								//text-align: center;
								text-transform: uppercase;
							}
						}
					}
				}
				.footer-content__links {
					display: flex;
					width: 670px;
					height: 184px;
					.block-first {
						margin-right: 20px;
						width: 209px;
						.block-first__topic {
							border-bottom: 1px solid #ff8500;
							width: 138px;
							p {
								color: #cbcbcb;
								font-family: 'Roboto';
								font-size: 20px;
								font-weight: 500;
								font-style: normal;
								letter-spacing: normal;
								line-height: 36px;
								text-align: left;
							}
						}
						.block-first__links {
							display: flex;
							flex-direction: column;
							width: 100%;
							border-top: 1px solid rgba(219, 219, 219, 0.15);
							a {
								color: #ffffff;
								font-family: 'Roboto';
								font-size: 13px;
								font-weight: 400;
								font-style: normal;
								letter-spacing: normal;
								line-height: 36px;
								text-align: left;
								text-decoration: underline;
							}
							a:nth-child(1) {
								margin-top: 10px;
							}
						}
					}
					.block-second{
						margin-right: 20px;
						width: 209px;
						.block-first__topic {
							border-bottom: 1px solid #ff8500;
							width: 63px;
							p {
								color: #cbcbcb;
								font-family: 'Roboto';
								font-size: 20px;
								font-weight: 500;
								font-style: normal;
								letter-spacing: normal;
								line-height: 36px;
								text-align: left;
							}
						}
						.block-first__links {
							display: flex;
							flex-direction: column;
							width: 100%;
							border-top: 1px solid rgba(219, 219, 219, 0.15);
							a {
								color: #ffffff;
								font-family: 'Roboto';
								font-size: 13px;
								font-weight: 400;
								font-style: normal;
								letter-spacing: normal;
								line-height: 36px;
								text-align: left;
								text-decoration: underline;
							}
							a:nth-child(1) {
								margin-top: 10px;
							}
						}
					}
					.block-third {
						width: 209px;
						.block-first__topic {
							border-bottom: 1px solid #ff8500;
							width: 138px;
							p {
								color: #cbcbcb;
								font-family: 'Roboto';
								font-size: 20px;
								font-weight: 500;
								font-style: normal;
								letter-spacing: normal;
								line-height: 36px;
								text-align: left;
							}
						}
						.block-first__links {
							display: flex;
							flex-direction: column;
							width: 100%;
							border-top: 1px solid rgba(219, 219, 219, 0.15);
							a {
								color: #ffffff;
								font-family: 'Roboto';
								font-size: 13px;
								font-weight: 400;
								font-style: normal;
								letter-spacing: normal;
								line-height: 36px;
								text-align: left;
								text-decoration: underline;
							}
							a:nth-child(1) {
								margin-top: 10px;
							}
						}
					}
				}
			}
			.footer-bottom {
				display: flex;
				justify-content: space-between;
				width: 100%;
				height: 76px;
				align-items: end;
				border-top: 1px solid rgba(219, 219, 219, 0.15);
				padding-top: 30px;
				.footer-bottom__test {
					display: flex;
					align-items: center;
					.footer-bottom__test-logo {
						border-right: 1px solid rgba(255, 255, 255, 0.1);
						img {
							padding-right: 22px;
						}
					}
					.footer-bottom__test-text {
						margin-left: 15px;
						p {
							color: #a0a9b2;
							font-family: 'Roboto';
							font-size: 12px;
							font-weight: 400;
							font-style: normal;
							letter-spacing: normal;
							line-height: 18px;
							text-align: left;
						}
					}	
				}
				.footer-bottom__social {
					width: 226px;
					height: 49px;
					display: flex;
					justify-content: space-between;
					align-items: center;
					a {
						display: flex;
						justify-content: center;
						align-items: center;
						border: 1px solid #7b8092;
						width: 49px;
						height: 49px;
						img {
							fill: #ffffff;
						}
					}
					a:hover {
						border: 1px solid #ffc925;
						transition-duration: 0.5s;
					}
				}
				.footer-bottom__wezom {
					display: flex;
					align-items: center;
					width: 210px;
					height: 42px;
					.footer-bottom__wezom-logo {
						padding-right: 19px;
					}
					.footer-bottom__wezom-text {
						border-left: 1px solid rgba(255, 255, 255, 0.1);
						padding-left: 18px;
						.info {
							padding-bottom: 8px;
							color: #a0a9b2;
							font-family: 'Roboto';
							font-size: 12px;
							font-weight: 400;
							font-style: normal;
							letter-spacing: normal;
							//line-height: 28px;
							text-align: left;
						}
						.name {
							padding-bottom: 4px;
							color: #ffffff;
							font-family: "MyriadPro";
							font-size: 14px;
							font-weight: 400;
							font-style: normal;
							letter-spacing: normal;
							//line-height: 30px;
							text-align: left;
						}
					}
				}
			}
		}
	}
}

.footer-background {
	position: relative;
	width: 100%;
	height: 349px;
	background-color: #696969;
}

.popup-signup {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	top: 0;
	left: 0;
	z-index: 100;
	overflow-y: auto;
	overflow-x: hidden;
	opacity: 0;
	visibility: hidden;
	transition: all 0.8s ease 0s;
	.popup-signup__body {
		min-height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 30px 10px;
		.popup-signup__content {
			background-color: #fff;
			color: #000;
			width: 755px;
			height: 431px;
			position: relative;
			display: grid;
			grid-template-columns: 1fr 1fr;
			.popup__close {
				position: absolute;
				right: -30px;
				top: -30px;
				width: 27px;
				height: 27px;
				opacity: 0.3;
				}
				.popup__close:before {
				position: absolute;
				left: 15px;
				content: '';
				height: 27px;
				width: 2px;
				background-color: #fff;
				}
				.popup__close:after {
				position: absolute;
				left: 15px;
				content: '';
				height: 27px;
				width: 2px;
				background-color: #fff;
				}
				.popup__close:before {
				transform: rotate(45deg);
				}
				.popup__close:after {
				transform: rotate(-45deg);
				}
			.block-first {
					margin-top: 34px;
					margin-left: 42px;
					border-right: 1px solid #dbdbdb;
				h1 {
					color: #3b3b3b;
					font-family: 'Roboto';
					font-size: 24px;
					font-weight: 700;
					font-style: normal;
					letter-spacing: normal;
					line-height: 40px;
					text-align: left;
				}
				.email {
					p {
						color: #3b3b3b;
						@extend %popup_p
					}
					input {
						width: 299px;
						height: 40px;
						border: 1px solid #d2d2d2;
						background-color: #ffffff;
						padding-left: 14px;
					}
				}
				.password {
					p {
						color: #3b3b3b;
						@extend %popup_p
					}
					input {
						width: 299px;
						height: 40px;
						border: 1px solid #d2d2d2;
						background-color: #ffffff;
						padding-left: 14px;
					}
				}
				.remember {
					width: 132px;
					display: flex;
					justify-content: space-between;
					align-items: center;
					margin-top: 23px;
					p {
						color: #3d3d3d;
						@extend %popup_p
					}
				}
				.linked {
					display: flex;
					width: 212px;
					justify-content: space-between;
					p {
						color: #3d3d3d;
						font-family: 'Roboto';
						font-size: 14px;
						font-weight: 400;
						font-style: normal;
						letter-spacing: normal;
						line-height: 40px;
						text-align: left;
						text-decoration: underline;
					}
				}
				.popup__signup-button {
					width: 210px;
					height: 50px;
					background-color: #afb9c6;
					@extend %popup_p;
					text-align: center;
				}
			}
			.block-second {
					margin-top: 34px;
					margin-left: 38px;

				h1 {
					color: #3b3b3b;
					font-family: 'Roboto';
					font-size: 24px;
					font-weight: 700;
					font-style: normal;
					letter-spacing: normal;
					line-height: 40px;
					text-align: left;
				}
				.social{
					margin-top: 35px; 
					width: 293px;
					height: 197px;
					display: flex;
					flex-direction: column;
					justify-content: space-between;

					.facebook {
						display: flex;
						justify-content: center;
						align-items: center;
						width: 293px;
						height: 50px;
						background-color: #3b5998;
						img {
							padding-right: 16px;
						}
						span {
							@extend %popup_p
						}
					}
					.twiter {
						display: flex;
						justify-content: center;
						align-items: center;
						width: 293px;
						height: 50px;
						background-color: #41abe1;
						img {
							padding-right: 11px;
						}
						span {
							@extend %popup_p
						}
					}
					.google {
						display: flex;
						justify-content: center;
						align-items: center;
						width: 293px;
						height: 50px;
						background-color: #ea4335;
						img {
							padding-right: 12px;
						}
						span {
							@extend %popup_p
						}
					}
				}
			}
		}
	}
}


.popup-signup.active-signup {
	opacity: 1;
	visibility: inherit;
}

.popup-phone {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	top: 0;
	left: 0;
	z-index: 100;
	overflow-y: auto;
	overflow-x: hidden;
	opacity: 0;
	visibility: hidden;
	transition-duration: 0.8s;
	.popup-phone__body {
		min-height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 30px 10px;
		.popup-phone__content {
			background-color: #fff;
			color: #000;
			width: 378px;
			height: 283px;
			position: relative;
			display: flex;
			flex-direction: column;
			.popup__close {
				position: absolute;
				right: -30px;
				top: -30px;
				width: 27px;
				height: 27px;
				opacity: 0.3;
			}
			.popup__close:before {
				position: absolute;
				left: 15px;
				content: '';
				height: 27px;
				width: 2px;
				background-color: #fff;
				}
				.popup__close:after {
				position: absolute;
				left: 15px;
				content: '';
				height: 27px;
				width: 2px;
				background-color: #fff;
				}
				.popup__close:before {
				transform: rotate(45deg);
				}
				.popup__close:after {
				transform: rotate(-45deg);
				}
			h1 {
				color: #3b3b3b;
				font-family: 'Roboto';
				font-size: 24px;
				font-weight: 700;
				font-style: normal;
				letter-spacing: normal;
				line-height: 40px;
				text-align: left;
				margin-top: 35px;
				margin-left: 38px;
			}
			form {
				margin-left: 38px;
				margin-bottom: 30px;
				p {
					color: #3b3b3b;
					font-family: "Roboto";
					font-size: 14px;
					font-weight: 400;
					font-style: normal;
					letter-spacing: normal;
					line-height: 40px;
					text-align: left;
					
				}
				input {
					width: 300px;
					height: 40px;
					border: 1px solid #d2d2d2;
					background-color: #ffffff;
						color: #9c9c9c;
						font-family: 'Roboto';
						font-size: 16px;
						font-weight: 400;
						font-style: normal;
						letter-spacing: normal;
						line-height: 40px;
						text-align: left;
						padding-left: 14px;
				}
			}
			button {
				margin: 0 auto;
				width: 210px;
				height: 50px;
				background-color: #ff8900;
				span {
					color: #ffffff;
					font-family: 'Roboto';
					font-size: 14px;
					font-weight: 400;
					font-style: normal;
					letter-spacing: normal;
					line-height: 40px;
					text-align: left;
				}
			}
		}
	}
}

.active-phone {
	opacity: 1;
	visibility: inherit;
}